<center>
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- Lists for current Lat and Long.  Notepad, Then Timestamped -->
  <div>
    <%= content_tag(:span, "", :id => "latitude") %>, <%= content_tag(:span, "", :id => "longitude") %>
  </div>
  <div class="field">
    Please copy & past the above coordinates in the field below:<br />
    <%= f.text_field :latlong %>
  </div>
  <div class="field">
    Give a brief discription of where you are(Address, Business, What you are doing, Email, Name):<br />
    <%= f.text_area :note %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</center>