<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- Lists for current Accuracy(in meters), Altitude, AltAccuracy, Heading, Lat and Long.  Then Timestamped -->
    <table>
    <tr>
        <th>accuracy:</th>
        <td><span id="accuracySpan"></span></td>
    </tr>
    <tr>
        <th>altitude:</th>
        <td><span id="altitudeSpan"></span></td>
    </tr>
    <tr>
        <th>altitudeAccuracy:</th>
        <td><span id="altitudeAccuracySpan"></span></td>
    </tr>
    <tr>
        <th>heading:</th>
        <td><span id="headingSpan"></span></td>
    </tr>
    <tr>
        <th>latitude:</th>
        <td><span id="latitudeSpan"></span></td>
    </tr>
    <tr>
        <th>longitude:</th>
        <td><span id="longitudeSpan"></span></td>
    </tr>
    </table>
    Timestamp: <p id="timestamp"/>

  <div class="field">
    <%= f.label :latlong %><br />
    
  </div>

  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </div>

    <input type="hidden" name="post[latlong]" id="post_latlong">
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
