<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- Lists for current Lat and Long.  Then Timestamped -->
    <table>
    <tr>
        <td><a id="latitude"/> , <a id="longitude"/></td>
    </tr>
    </table>
    Timestamp: <p id="timestamp"/>


  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </div>

  <input type="hidden" name="post[latlong]" id="post_latitude" name="latitude">
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
