<h1>Listing Locations</h1>
<div id="location_list">
<table>
  <tr>
    <th>Latitude, Longitude</th>
    <th>Notes</th>
    <th>Created</th>

  </tr>

<% @posts.each do |post| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td class="list_description"><%= post.latitude %></td>
    <td class="list_description"><%= post.note %></td>
    <td class="list_description"><%= post.created_at %></td>
  </tr>
<% end %>
</table>
</div>
<br />
<%= link_to 'New Location', new_post_url %>
