<p id="notice"><%= notice %></p>

<p>
  <b>Latitude and Longitude</b>
  <%= @post.latitude %>
</p>

<p>
  <b>Note:</b>
  <%= @post.note %>
</p>

<iframe width="250" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q=&amp;output=embed"></iframe>
<p>&nbsp;</p>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
